---
# Lambda School Data Science - Intro to Pandas
---
# Assignment 05 - Loading Data
---

##STOP! BEFORE GOING ANY FURTHER...  


1. Click "File" at the top.
2. Then, "Save a Copy in Drive."
3. Change the file name to "FIRSTNAME_LASTNAME_assign5"  

Now you have a copy of this notebook in your Drive account. This is the copy you'll edit and submit. Be sure to do this for ***every*** assignment!

---

## Part 1: Working with `pandas`

### 1.1 - Importing `pandas`

Import the `pandas` library with the standard alias. Make sure you run this cell before the other cells that use the `pandas` library.

In [2]:
# Import pandas
import pandas as pd

### 1.2 - Import the data from a CSV file

Today you'll be working with a Gross Domestic Product (GDP) data set. You can find the data [here](https://raw.githubusercontent.com/axrd/datasets/master/gdp.csv). The first line of this file is the column labels (sometimes with spelling errors, which should be changed as you continue the analysis): 

`,COUNRY,GDP (BILLIONS),CODE`

We're going to be loading this data from a URL, as demonstrated in lecture. In the following cell, load the CSV file into a dataframe using `pandas`. [Here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) is the documentation. Call your dataframe `df_gdp`.

In [3]:
# Import the GDP data hosted on Github
# columns: COUNRY,GDP (BILLIONS),CODE

df_gdp = pd.read_csv("https://raw.githubusercontent.com/axrd/datasets/master/gdp.csv")
print (df_gdp)

     Unnamed: 0          COUNRY  GDP (BILLIONS) CODE
0             0     Afghanistan           21.71  AFG
1             1         Albania           13.40  ALB
2             2         Algeria          227.80  DZA
3             3  American Samoa            0.75  ASM
4             4         Andorra            4.80  AND
..          ...             ...             ...  ...
217         217  Virgin Islands            5.08  VGB
218         218       West Bank            6.64  WBG
219         219           Yemen           45.45  YEM
220         220          Zambia           25.61  ZMB
221         221        Zimbabwe           13.74  ZWE

[222 rows x 4 columns]

### Solution 1.2 - Run the following cell to check your answer.

In [4]:
# DO NOT EDIT THIS CELL
# SOLUTION 1.2

# Verify the dataframe was created with the correct name and isn't empty
assert not df_gdp.empty, "Your dataframe doesn't contain any data."

### 1.3 - Using the DataFrame you just loaded, print out the first seven rows.

This will include the first row containing the column labels.

In [5]:
# Print out the first 7 rows

df_gdp.head(7)

   Unnamed: 0          COUNRY  GDP (BILLIONS) CODE
0           0     Afghanistan           21.71  AFG
1           1         Albania           13.40  ALB
2           2         Algeria          227.80  DZA
3           3  American Samoa            0.75  ASM
4           4         Andorra            4.80  AND
5           5          Angola          131.40  AGO
6           6        Anguilla            0.18  AIA

### 1.4 - And now print out the last three rows of the DataFrame.

Since we're looking at the end of the DataFrame, the last three rows do not contain the row with the column labels.

In [6]:
# Print out the last 3 rows

df_gdp.tail(3)

     Unnamed: 0    COUNRY  GDP (BILLIONS) CODE
219         219     Yemen           45.45  YEM
220         220    Zambia           25.61  ZMB
221         221  Zimbabwe           13.74  ZWE

### 1.5 - Shape of the DataFrame. 

The dimensions of a DataFrame are an important feature of the datasets you will be working with. Determine the shape of `df_gdp` and save your answer in a variable called `gdp_size`.

In [7]:
# Determine the shape of df_gdp

print (df_gdp.shape)
#df_gdp.info()

(222, 4)

### Solution 1.5 - Run the following cell to check your answer.

In [8]:
# DO NOT EDIT THIS CELL
# SOLUTION 1.5

# Check the shape df_gdp (it should be (222, 4))
assert gdp_size == df_gdp.shape

NameError: ignored

### 1.6 - DataFrame data types

A big advantage of using pandas DataFrames to store and work with your data is that it's very easy to have data with different types in a single DataFrame. The previous library we used, `numpy`, was designed for storing numerical data.

Your task is to determine the data type of each column (feature) in the DataFrame. Columns and features are interchangeable when talking about DataFrames or tabular data in general.

*Hint: We didn't cover this in lecture so see what Google can tell you.*

In [ ]:
# Display the data type of each column in df_gdp

df_gdp.dtypes

### 1.7 - Data Cleaning
Not all data is ready for immediate analysis; it often contains spelling errors, incorrectly named columns, missing values, and possibly a variety of other issues. 

In the next few examples, we'll do some basic data cleaning to make things easier for our future tasks. First, let's rename the column "COUNRY" to "Country". In a new cell, verify that the change persisted (or is permanent).

In [ ]:
# Rename the COUNRY column

df_gdp = df_gdp.rename(columns={'COUNRY':'Country'})

In [ ]:
# Verify the change in column name persisted
print (df_gdp)

### Solution 1.7 - Run the following cell to check your answer.

In [ ]:
# DO NOT EDIT THIS CELL
# SOLUTION 1.7

# Verify the column names
test_names = df_gdp.columns.values.tolist()
assert test_names == ['Unnamed: 0', 'Country', 'GDP (BILLIONS)', 'CODE']

### Submit your assignment notebook! (Make sure you've changed the name to FIRSTNAME_LASTNAME_assign5): 

1.  Click the Share button in the upper-right hand corner of the notebook.
2.  Get the shareable link.
3.  Set condition to: "Anyone with the link can comment."

---

### 1.8 - STRETCH: Tying it back to earlier lessons and getting some more practice.

The question below is _optional_. Only tackle it after you've completed the rest of the assignment!

Determine the following values using the GDP data:

*  maximum GDP
*  minimum GDP
*  median GDP
*  standard deviation of GDP

In [31]:
# Complete your tasks in the following cell
# Find the max GDP, min GDP, median GDP, STD GDP
print (df_gdp['GDP (BILLIONS)'].max())
print (df_gdp['GDP (BILLIONS)'].min())
print (df_gdp['GDP (BILLIONS)'].median())
print (df_gdp['GDP (BILLIONS)'].std())

17420.0

TypeError: ignored

### Solution 1.8: Run the following cell to view the solution.

In [ ]:
# DO NOT EDIT THIS CELL
# SOLUTION 1.8

# Solution to 1.8
print(df_gdp['GDP (BILLIONS)'].max())
print(df_gdp['GDP (BILLIONS)'].mean())
print(df_gdp['GDP (BILLIONS)'].median())
print(df_gdp['GDP (BILLIONS)'].std())

17420.0
352.6371621621622
21.525
1464.8555325721697