In [3]:

import pandas as pd
from numpy.random import randint
code = ['AL',
 'AK',
 'AZ',
 'AR',
 'CA',
 'CO',
 'CT',
 'DE',
 'FL',
 'GA',
 'HI',
 'ID',
 'IL',
 'IN',
 'IA',
 'KS',
 'KY',
 'LA',
 'ME',
 'MD',
 'MA',
 'MI',
 'MN',
 'MS',
 'MO',
 'MT',
 'NE',
 'NV',
 'NH',
 'NJ',
 'NM',
 'NY',
 'NC',
 'ND',
 'OH',
 'OK',
 'OR',
 'PA',
 'RI',
 'SC',
 'SD',
 'TN',
 'TX',
 'UT',
 'VT',
 'VA',
 'WA',
 'WV',
 'WI',
 'WY']
state = ['Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']
import itertools
df = pd.DataFrame(columns=['code', 'state', 'year', 'month', 'population'])
for z,i,j,k,l in itertools.product(range(72),code,state,range(1), range(1,13)):
  #for i, j in itertools.product(range(x), range(y)):
  df.loc[z] = [str(i)] + [str(j)] + [2014+k] + [l] + [3]
df

   code    state  year month population
0    WY  Wyoming  2014    12          3
1    WY  Wyoming  2014    12          3
2    WY  Wyoming  2014    12          3
3    WY  Wyoming  2014    12          3
4    WY  Wyoming  2014    12          3
..  ...      ...   ...   ...        ...
67   WY  Wyoming  2014    12          3
68   WY  Wyoming  2014    12          3
69   WY  Wyoming  2014    12          3
70   WY  Wyoming  2014    12          3
71   WY  Wyoming  2014    12          3

[72 rows x 5 columns]

In [4]:
print ("this")

this