In [1]:
import pandas as pd
# data from https://github.com/datasets/population
data = pd.read_csv('https://raw.githubusercontent.com/singparvi/data-USstates/master/state-population.csv')
data.columns = ['state', 'ages', 'year', 'population']
data

     state     ages  year   population
0       AL  under18  2012    1117489.0
1       AL    total  2012    4817528.0
2       AL  under18  2010    1130966.0
3       AL    total  2010    4785570.0
4       AL  under18  2011    1125763.0
...    ...      ...   ...          ...
2539   USA    total  2010  309326295.0
2540   USA  under18  2011   73902222.0
2541   USA    total  2011  311582564.0
2542   USA  under18  2012   73708179.0
2543   USA    total  2012  313873685.0

[2544 rows x 4 columns]

In [2]:
data = data[data.ages != 'under18']
data = data[data.state != 'USA']
data.shape
data

     state   ages  year  population
1       AL  total  2012   4817528.0
3       AL  total  2010   4785570.0
5       AL  total  2011   4801627.0
6       AL  total  2009   4757938.0
9       AL  total  2013   4833722.0
...    ...    ...   ...         ...
2487    PR  total  2013   3615086.0
2488    PR  total  2009   3740410.0
2490    PR  total  2010   3721208.0
2493    PR  total  2011   3686580.0
2495    PR  total  2012   3651545.0

[1248 rows x 4 columns]

In [3]:
pd.crosstab(index = data['ages'], columns= 'count')

col_0  count
ages
total   1248

In [4]:
data.drop(labels = 'ages', axis = 1)

     state  year  population
1       AL  2012   4817528.0
3       AL  2010   4785570.0
5       AL  2011   4801627.0
6       AL  2009   4757938.0
9       AL  2013   4833722.0
...    ...   ...         ...
2487    PR  2013   3615086.0
2488    PR  2009   3740410.0
2490    PR  2010   3721208.0
2493    PR  2011   3686580.0
2495    PR  2012   3651545.0

[1248 rows x 3 columns]

In [5]:
data.sort_values(by = 'year')

     state   ages  year  population
1585    NC  total  1990   6664016.0
1873    RI  total  1990   1005995.0
1871    PA  total  1990  11903299.0
2257    WA  total  1990   4903043.0
911     LA  total  1990   4221532.0
...    ...    ...   ...         ...
1337    NE  total  2013   1868516.0
1350    NV  total  2013   2790136.0
1433    NH  total  2013   1323459.0
2391    WI  total  2013   5742713.0
1145    MN  total  2013   5420380.0

[1248 rows x 4 columns]

In [6]:
# data.to_csv(r'US_Population.csv')

In [7]:
url_2 = 'http://www2.census.gov/programs-surveys/popest/datasets/2010-2019/national/totals/nst-est2019-alldata.csv'

new_pop_data = pd.read_csv(url_2)
new_pop_data.head()

,SUMLEV,REGION,DIVISION,STATE,NAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,10,0,0,0,United States,308745538,308758105,309321666,311556874,313830990,...,0.000000,2.493773,2.682083,2.636187,2.921500,3.260435,3.252788,2.871957,2.153911,1.818059
1,20,1,0,0,Northeast Region,55317240,55318443,55380134,55604223,55775216,...,-5.254530,0.887909,-0.038355,-0.469783,-0.986097,-2.061965,-2.490484,-1.837048,-2.134447,-2.859713
2,20,2,0,0,Midwest Region,66927001,66929725,66974416,67157800,67336743,...,-2.365881,-0.963930,-0.973943,-0.006924,-0.762969,-1.388437,-1.241784,-0.557370,-0.922755,-1.111173
3,20,3,0,0,South Region,114555744,114563030,114866680,116006522,117241208,...,3.261349,5.130513,5.850458,5.292073,6.161501,7.277358,7.150074,6.198168,5.225519,5.203720
4,20,4,0,0,West Region,71945553,71946907,72100436,72788329,73477823,...,0.614245,2.723344,3.062896,3.162262,4.026429,4.987285,5.261078,4.021194,3.044951,2.312083

In [8]:
# Extrapolating US population based on 2018-2019 growth
US_Population_2018 = 326687501
US_Population_2019 = 328239523

y_o_y_growth = (US_Population_2019/US_Population_2018)

In [9]:
df = pd.DataFrame()
new_pop_data['POPESTIMATE2020'] = new_pop_data['POPESTIMATE2019'] * y_o_y_growth

In [10]:
new_pop_data['POPESTIMATE2020'] = new_pop_data['POPESTIMATE2020'].apply(int)

In [11]:
# get the list of all the columns 
#new_pop_data.columns.to_list()

In [12]:
new_pop_data_subset = new_pop_data[['NAME',
 'CENSUS2010POP',
 'POPESTIMATE2010',
 'POPESTIMATE2011',
 'POPESTIMATE2012',
 'POPESTIMATE2013',
 'POPESTIMATE2014',
 'POPESTIMATE2015',
 'POPESTIMATE2016',
 'POPESTIMATE2017',
 'POPESTIMATE2018',
 'POPESTIMATE2019',
 'POPESTIMATE2020'
 ]]
new_pop_data_subset = new_pop_data_subset.drop(labels =[0,1,2,3,4],axis = 0)
new_pop_data_subset = new_pop_data_subset.drop('CENSUS2010POP', axis=1)
new_pop_data_subset.columns = [columns.replace('POPESTIMATE',"") for columns in new_pop_data_subset]
new_pop_data_subset = new_pop_data_subset.drop(labels = ['2010','2011','2012','2013'], axis=1)
new_pop_data_subset.rename(columns={'NAME':'state'}, inplace=True)
new_pop_data_subset

,state,2014,2015,2016,2017,2018,2019,2020
5,Alabama,4841799,4852347,4863525,4874486,4887681,4903185,4926478
6,Alaska,736283,737498,741456,739700,735139,731545,735020
7,Arizona,6730413,6829676,6941072,7044008,7158024,7278717,7313296
8,Arkansas,2967392,2978048,2989918,3001345,3009733,3017804,3032140
9,California,38596972,38918045,39167117,39358497,39461588,39512223,39699937
10,Colorado,5350101,5450623,5539215,5611885,5691287,5758736,5786094
11,Connecticut,3594524,3587122,3578141,3573297,3571520,3565287,3582224
12,Delaware,932487,941252,948921,956823,965479,973764,978390
13,District of Columbia,662328,675400,685815,694906,701547,705749,709101
14,Florida,19845911,20209042,20613477,20963613,21244317,21477737,21579773
15,Georgia,10067278,10178447,10301890,10410330,10511131,10617423,10667864
16,Hawaii,1414538,1422052,1427559,1424393,1420593,1415872,1422598
17,Idaho,1631112,1651059,1682380,1717715,1750536,1787065,1795554
18,Illinois,12884493,12858913,12820527,12778828,12723071,12671821,12732022
19,Indiana,6593644,6608422,6634304,6658078,6695497,6732219,6764202
20,Iowa,3109350,3120960,3131371,3141550,3148618,3155070,3170059
21,Kansas,2900475,2909011,2910844,2908718,2911359,2913314,2927154
22,Kentucky,4414349,4425976,4438182,4452268,4461153,4467673,4488897
23,Louisiana,4644013,4664628,4678135,4670560,4659690,4648794,4670879
24,Maine,1330513,1328262,1331317,1334612,1339057,1344212,1350598
25,Maryland,5957283,5985562,6003323,6023868,6035802,6045680,6074401
26,Massachusetts,6762596,6794228,6823608,6859789,6882635,6892503,6925247
27,Michigan,9929848,9931715,9950571,9973114,9984072,9986857,10034302
28,Minnesota,5451079,5482032,5522744,5566230,5606249,5639632,5666424
29,Mississippi,2990468,2988471,2987938,2988510,2981020,2976149,2990288
30,Missouri,6056202,6071732,6087135,6106670,6121623,6137428,6166585
31,Montana,1021869,1030475,1040859,1052482,1060665,1068778,1073855
32,Nebraska,1879321,1891277,1905616,1915947,1925614,1934408,1943597
33,Nevada,2817628,2866939,2917563,2969905,3027341,3080156,3094789
34,New Hampshire,1333341,1336350,1342307,1348787,1353465,1359711,1366170
35,New Jersey,8864525,8867949,8870827,8885525,8886025,8882190,8924387
36,New Mexico,2089568,2089291,2091630,2091784,2092741,2096829,2106790
37,New York,19651049,19654666,19633428,19589572,19530351,19453561,19545980
38,North Carolina,9932887,10031646,10154788,10268233,10381615,10488084,10537910
39,North Dakota,737401,754066,754434,754942,758080,762062,765682
40,Ohio,11602700,11617527,11634370,11659650,11676341,11689100,11744632
41,Oklahoma,3878187,3909500,3926331,3931316,3940235,3956971,3975769
42,Oregon,3963244,4015792,4089976,4143625,4181886,4217737,4237774
43,Pennsylvania,12788313,12784826,12782275,12787641,12800922,12801989,12862808
44,Rhode Island,1055936,1056065,1056770,1055673,1058287,1059361,1064393
45,South Carolina,4823617,4891938,4957968,5021268,5084156,5148714,5173174
46,South Dakota,849129,853988,862996,872868,878698,884659,888861
47,Tennessee,6541223,6591170,6646010,6708799,6771631,6829174,6861617
48,Texas,26964333,27470056,27914410,28295273,28628666,28995881,29133634
49,Utah,2936879,2981835,3041868,3101042,3153550,3205958,3221188
50,Vermont,625214,625216,623657,624344,624358,623989,626953
51,Virginia,8310993,8361808,8410106,8463587,8501286,8535519,8576069
52,Washington,7054655,7163657,7294771,7423362,7523869,7614893,7651069
53,West Virginia,1849489,1842050,1831023,1817004,1804291,1792147,1800661
54,Wisconsin,5751525,5760940,5772628,5790186,5807406,5822434,5850095
55,Wyoming,582531,585613,584215,578931,577601,578759,581508
56,Puerto Rico,3534874,3473232,3406672,3325286,3193354,3193694,3208866

In [13]:
# importing states codes
state_code_url = 'https://raw.githubusercontent.com/plotly/datasets/master/2011_us_ag_exports.csv'
state_codes = pd.read_csv(state_code_url)
state_codes = state_codes[['code', 'state']]
state_codes

   code           state
0    AL         Alabama
1    AK          Alaska
2    AZ         Arizona
3    AR        Arkansas
4    CA      California
5    CO        Colorado
6    CT     Connecticut
7    DE        Delaware
8    FL         Florida
9    GA         Georgia
10   HI          Hawaii
11   ID           Idaho
12   IL        Illinois
13   IN         Indiana
14   IA            Iowa
15   KS          Kansas
16   KY        Kentucky
17   LA       Louisiana
18   ME           Maine
19   MD        Maryland
20   MA   Massachusetts
21   MI        Michigan
22   MN       Minnesota
23   MS     Mississippi
24   MO        Missouri
25   MT         Montana
26   NE        Nebraska
27   NV          Nevada
28   NH   New Hampshire
29   NJ      New Jersey
30   NM      New Mexico
31   NY        New York
32   NC  North Carolina
33   ND    North Dakota
34   OH            Ohio
35   OK        Oklahoma
36   OR          Oregon
37   PA    Pennsylvania
38   RI    Rhode Island
39   SC  South Carolina
40   SD    South Dakota
41   TN       Tennessee
42   TX           Texas
43   UT            Utah
44   VT         Vermont
45   VA        Virginia
46   WA      Washington
47   WV   West Virginia
48   WI       Wisconsin
49   WY         Wyoming

In [14]:
new_pop_data_subset

,state,2014,2015,2016,2017,2018,2019,2020
5,Alabama,4841799,4852347,4863525,4874486,4887681,4903185,4926478
6,Alaska,736283,737498,741456,739700,735139,731545,735020
7,Arizona,6730413,6829676,6941072,7044008,7158024,7278717,7313296
8,Arkansas,2967392,2978048,2989918,3001345,3009733,3017804,3032140
9,California,38596972,38918045,39167117,39358497,39461588,39512223,39699937
10,Colorado,5350101,5450623,5539215,5611885,5691287,5758736,5786094
11,Connecticut,3594524,3587122,3578141,3573297,3571520,3565287,3582224
12,Delaware,932487,941252,948921,956823,965479,973764,978390
13,District of Columbia,662328,675400,685815,694906,701547,705749,709101
14,Florida,19845911,20209042,20613477,20963613,21244317,21477737,21579773
15,Georgia,10067278,10178447,10301890,10410330,10511131,10617423,10667864
16,Hawaii,1414538,1422052,1427559,1424393,1420593,1415872,1422598
17,Idaho,1631112,1651059,1682380,1717715,1750536,1787065,1795554
18,Illinois,12884493,12858913,12820527,12778828,12723071,12671821,12732022
19,Indiana,6593644,6608422,6634304,6658078,6695497,6732219,6764202
20,Iowa,3109350,3120960,3131371,3141550,3148618,3155070,3170059
21,Kansas,2900475,2909011,2910844,2908718,2911359,2913314,2927154
22,Kentucky,4414349,4425976,4438182,4452268,4461153,4467673,4488897
23,Louisiana,4644013,4664628,4678135,4670560,4659690,4648794,4670879
24,Maine,1330513,1328262,1331317,1334612,1339057,1344212,1350598
25,Maryland,5957283,5985562,6003323,6023868,6035802,6045680,6074401
26,Massachusetts,6762596,6794228,6823608,6859789,6882635,6892503,6925247
27,Michigan,9929848,9931715,9950571,9973114,9984072,9986857,10034302
28,Minnesota,5451079,5482032,5522744,5566230,5606249,5639632,5666424
29,Mississippi,2990468,2988471,2987938,2988510,2981020,2976149,2990288
30,Missouri,6056202,6071732,6087135,6106670,6121623,6137428,6166585
31,Montana,1021869,1030475,1040859,1052482,1060665,1068778,1073855
32,Nebraska,1879321,1891277,1905616,1915947,1925614,1934408,1943597
33,Nevada,2817628,2866939,2917563,2969905,3027341,3080156,3094789
34,New Hampshire,1333341,1336350,1342307,1348787,1353465,1359711,1366170
35,New Jersey,8864525,8867949,8870827,8885525,8886025,8882190,8924387
36,New Mexico,2089568,2089291,2091630,2091784,2092741,2096829,2106790
37,New York,19651049,19654666,19633428,19589572,19530351,19453561,19545980
38,North Carolina,9932887,10031646,10154788,10268233,10381615,10488084,10537910
39,North Dakota,737401,754066,754434,754942,758080,762062,765682
40,Ohio,11602700,11617527,11634370,11659650,11676341,11689100,11744632
41,Oklahoma,3878187,3909500,3926331,3931316,3940235,3956971,3975769
42,Oregon,3963244,4015792,4089976,4143625,4181886,4217737,4237774
43,Pennsylvania,12788313,12784826,12782275,12787641,12800922,12801989,12862808
44,Rhode Island,1055936,1056065,1056770,1055673,1058287,1059361,1064393
45,South Carolina,4823617,4891938,4957968,5021268,5084156,5148714,5173174
46,South Dakota,849129,853988,862996,872868,878698,884659,888861
47,Tennessee,6541223,6591170,6646010,6708799,6771631,6829174,6861617
48,Texas,26964333,27470056,27914410,28295273,28628666,28995881,29133634
49,Utah,2936879,2981835,3041868,3101042,3153550,3205958,3221188
50,Vermont,625214,625216,623657,624344,624358,623989,626953
51,Virginia,8310993,8361808,8410106,8463587,8501286,8535519,8576069
52,Washington,7054655,7163657,7294771,7423362,7523869,7614893,7651069
53,West Virginia,1849489,1842050,1831023,1817004,1804291,1792147,1800661
54,Wisconsin,5751525,5760940,5772628,5790186,5807406,5822434,5850095
55,Wyoming,582531,585613,584215,578931,577601,578759,581508
56,Puerto Rico,3534874,3473232,3406672,3325286,3193354,3193694,3208866

In [15]:
new_pop_data_subset = pd.melt(new_pop_data_subset,id_vars= ['state'], value_vars= ['2014', '2015', '2016', '2017', '2018', '2019', '2020'])
new_pop_data_subset.rename(columns = {'variable': 'year', 'value': 'population'}, inplace= True)

In [16]:
state_codes

   code           state
0    AL         Alabama
1    AK          Alaska
2    AZ         Arizona
3    AR        Arkansas
4    CA      California
5    CO        Colorado
6    CT     Connecticut
7    DE        Delaware
8    FL         Florida
9    GA         Georgia
10   HI          Hawaii
11   ID           Idaho
12   IL        Illinois
13   IN         Indiana
14   IA            Iowa
15   KS          Kansas
16   KY        Kentucky
17   LA       Louisiana
18   ME           Maine
19   MD        Maryland
20   MA   Massachusetts
21   MI        Michigan
22   MN       Minnesota
23   MS     Mississippi
24   MO        Missouri
25   MT         Montana
26   NE        Nebraska
27   NV          Nevada
28   NH   New Hampshire
29   NJ      New Jersey
30   NM      New Mexico
31   NY        New York
32   NC  North Carolina
33   ND    North Dakota
34   OH            Ohio
35   OK        Oklahoma
36   OR          Oregon
37   PA    Pennsylvania
38   RI    Rhode Island
39   SC  South Carolina
40   SD    South Dakota
41   TN       Tennessee
42   TX           Texas
43   UT            Utah
44   VT         Vermont
45   VA        Virginia
46   WA      Washington
47   WV   West Virginia
48   WI       Wisconsin
49   WY         Wyoming

In [17]:
new_pop_data_subset = pd.merge(state_codes, new_pop_data_subset, on = 'state')
new_pop_data_subset

    code    state  year  population
0     AL  Alabama  2014     4841799
1     AL  Alabama  2015     4852347
2     AL  Alabama  2016     4863525
3     AL  Alabama  2017     4874486
4     AL  Alabama  2018     4887681
..   ...      ...   ...         ...
345   WY  Wyoming  2016      584215
346   WY  Wyoming  2017      578931
347   WY  Wyoming  2018      577601
348   WY  Wyoming  2019      578759
349   WY  Wyoming  2020      581508

[350 rows x 4 columns]

In [18]:
# generate dataframe to include months in new_pop_data_subset
new_pop_data_subset['month'] = 'NaN'

new_pop_data_subset_1 = new_pop_data_subset.copy()
# new_pop_data_subset_2 = new_pop_data_subset.copy()
new_pop_data_subset_1['month'] = 1
# new_pop_data_subset_2['month'] = 2
new_pop_data_subset_2 = new_pop_data_subset.copy()
for i in range (2,13):
  new_pop_data_subset_2['month'] = i
  new_pop_data_subset_1 = pd.concat([new_pop_data_subset_1,new_pop_data_subset_2])
new_pop_data_subset_1

    code    state  year  population  month
0     AL  Alabama  2014     4841799      1
1     AL  Alabama  2015     4852347      1
2     AL  Alabama  2016     4863525      1
3     AL  Alabama  2017     4874486      1
4     AL  Alabama  2018     4887681      1
..   ...      ...   ...         ...    ...
345   WY  Wyoming  2016      584215     12
346   WY  Wyoming  2017      578931     12
347   WY  Wyoming  2018      577601     12
348   WY  Wyoming  2019      578759     12
349   WY  Wyoming  2020      581508     12

[4200 rows x 5 columns]

In [19]:
new_pop_data_subset_1[new_pop_data_subset_1['year'] == '2020']

    code          state  year  population  month
6     AL        Alabama  2020     4926478      1
13    AK         Alaska  2020      735020      1
20    AZ        Arizona  2020     7313296      1
27    AR       Arkansas  2020     3032140      1
34    CA     California  2020    39699937      1
..   ...            ...   ...         ...    ...
321   VA       Virginia  2020     8576069     12
328   WA     Washington  2020     7651069     12
335   WV  West Virginia  2020     1800661     12
342   WI      Wisconsin  2020     5850095     12
349   WY        Wyoming  2020      581508     12

[600 rows x 5 columns]

In [20]:
data.rename(columns = {'state':'code'}, inplace = True)
data.head()
# new_pop_data_subset_1.head()

  code   ages  year  population
1   AL  total  2012   4817528.0
3   AL  total  2010   4785570.0
5   AL  total  2011   4801627.0
6   AL  total  2009   4757938.0
9   AL  total  2013   4833722.0

In [21]:
data

     code   ages  year  population
1      AL  total  2012   4817528.0
3      AL  total  2010   4785570.0
5      AL  total  2011   4801627.0
6      AL  total  2009   4757938.0
9      AL  total  2013   4833722.0
...   ...    ...   ...         ...
2487   PR  total  2013   3615086.0
2488   PR  total  2009   3740410.0
2490   PR  total  2010   3721208.0
2493   PR  total  2011   3686580.0
2495   PR  total  2012   3651545.0

[1248 rows x 4 columns]

In [22]:
# comment after one run 
data.drop('ages', axis = 1, inplace = True)
new_pop_data_subset_1.drop('state', axis = 1, inplace = True)

In [23]:
# generate dataframe to include months in data
data['month'] = 'NaN'

data_1 = data.copy()
data_2 = data.copy()
data_1['month'] = 1
for i in range (2,13):
  data_2['month'] = i
  data_1 = pd.concat([data_1,data_2])
data_1

     code  year  population  month
1      AL  2012   4817528.0      1
3      AL  2010   4785570.0      1
5      AL  2011   4801627.0      1
6      AL  2009   4757938.0      1
9      AL  2013   4833722.0      1
...   ...   ...         ...    ...
2487   PR  2013   3615086.0     12
2488   PR  2009   3740410.0     12
2490   PR  2010   3721208.0     12
2493   PR  2011   3686580.0     12
2495   PR  2012   3651545.0     12

[14976 rows x 4 columns]

In [24]:
merge = pd.concat([data_1, new_pop_data_subset_1])
condition = (merge['code'] == 'AL') & (merge['year'] == 2012)
merge[condition]

  code  year  population  month
1   AL  2012   4817528.0      1
1   AL  2012   4817528.0      2
1   AL  2012   4817528.0      3
1   AL  2012   4817528.0      4
1   AL  2012   4817528.0      5
1   AL  2012   4817528.0      6
1   AL  2012   4817528.0      7
1   AL  2012   4817528.0      8
1   AL  2012   4817528.0      9
1   AL  2012   4817528.0     10
1   AL  2012   4817528.0     11
1   AL  2012   4817528.0     12

In [25]:
# making a new column to match from in the Guns_Sales DataFrame
merge['month'] = merge['month'].apply(str)
merge['code'] = merge['code'].apply(str)
merge['year'] = merge['year'].apply(str)

merge['vlookup'] = merge['code'] + "+" + merge['year']   + "+" + merge['month']

In [26]:
merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19176 entries, 1 to 349
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   code        19176 non-null  object
 1   year        19176 non-null  object
 2   population  19056 non-null  float64
 3   month       19176 non-null  object
 4   vlookup     19176 non-null  object
dtypes: float64(1), object(4)
memory usage: 898.9+ KB

In [27]:
merge = merge.dropna(axis=0)

In [28]:
# Export data to a CSV format
merge.to_csv(r'US_Population.csv', index = False)

In [29]:
merge

    code  year  population month     vlookup
1     AL  2012   4817528.0     1   AL+2012+1
3     AL  2010   4785570.0     1   AL+2010+1
5     AL  2011   4801627.0     1   AL+2011+1
6     AL  2009   4757938.0     1   AL+2009+1
9     AL  2013   4833722.0     1   AL+2013+1
..   ...   ...         ...   ...         ...
345   WY  2016    584215.0    12  WY+2016+12
346   WY  2017    578931.0    12  WY+2017+12
347   WY  2018    577601.0    12  WY+2018+12
348   WY  2019    578759.0    12  WY+2019+12
349   WY  2020    581508.0    12  WY+2020+12

[19056 rows x 5 columns]

In [30]:
#Gathering data for overall US as well
data = pd.read_csv('https://raw.githubusercontent.com/singparvi/data-USstates/master/state-population.csv')
data.columns = ['state', 'ages', 'year', 'population']
data_US = data[data.state == 'USA']
data_US = data_US[data_US.ages == 'total']
data_US.shape
data_US

     state   ages  year   population
2497   USA  total  1990  249622814.0
2498   USA  total  1991  252980942.0
2501   USA  total  1992  256514231.0
2502   USA  total  1993  259918595.0
2505   USA  total  1994  263125826.0
2508   USA  total  1995  266278403.0
2509   USA  total  1996  269394291.0
2510   USA  total  1997  272646932.0
2513   USA  total  1998  275854116.0
2515   USA  total  2000  282162411.0
2517   USA  total  1999  279040181.0
2518   USA  total  2001  284968955.0
2520   USA  total  2002  287625193.0
2522   USA  total  2003  290107933.0
2524   USA  total  2004  292805298.0
2526   USA  total  2005  295516599.0
2528   USA  total  2006  298379912.0
2530   USA  total  2007  301231207.0
2532   USA  total  2008  304093966.0
2535   USA  total  2013  316128839.0
2536   USA  total  2009  306771529.0
2539   USA  total  2010  309326295.0
2541   USA  total  2011  311582564.0
2543   USA  total  2012  313873685.0

########################- - - - - - -########

In [31]:
new_pop_data_subset_1 = new_pop_data_subset_1[[]]

In [32]:
state_codes['state+code'].to_list()

KeyError: 'state+code'

In [ ]:
import pandas as pd
from numpy.random import randint
iterate = ['Alabama+AL',
 'Alaska+AK',
 'Arizona+AZ',
 'Arkansas+AR',
 'California+CA',
 'Colorado+CO',
 'Connecticut+CT',
 'Delaware+DE',
 'Florida+FL',
 'Georgia+GA',
 'Hawaii+HI',
 'Idaho+ID',
 'Illinois+IL',
 'Indiana+IN',
 'Iowa+IA',
 'Kansas+KS',
 'Kentucky+KY',
 'Louisiana+LA',
 'Maine+ME',
 'Maryland+MD',
 'Massachusetts+MA',
 'Michigan+MI',
 'Minnesota+MN',
 'Mississippi+MS',
 'Missouri+MO',
 'Montana+MT',
 'Nebraska+NE',
 'Nevada+NV',
 'New Hampshire+NH',
 'New Jersey+NJ',
 'New Mexico+NM',
 'New York+NY',
 'North Carolina+NC',
 'North Dakota+ND',
 'Ohio+OH',
 'Oklahoma+OK',
 'Oregon+OR',
 'Pennsylvania+PA',
 'Rhode Island+RI',
 'South Carolina+SC',
 'South Dakota+SD',
 'Tennessee+TN',
 'Texas+TX',
 'Utah+UT',
 'Vermont+VT',
 'Virginia+VA',
 'Washington+WA',
 'West Virginia+WV',
 'Wisconsin+WI',
 'Wyoming+WY']
# state_codes['state+code'] = state_codes['state'] + "+" + state_codes['code']
import itertools
df = pd.DataFrame(columns=['code+state', 'year', 'month', 'population'])
# for i,j,k in itertools.product(iterate,range(6), range(1,13)):
  #for i, j in itertools.product(range(x), range(y)):
counter = 0
for i in iterate:
  for j in range (6):
    for k in range(1,13):
      df.loc[counter] = [str(i)] + [2014+j] + [k] + [0]
      counter = counter+1

df
# state_codes['state+code'].to_list()

In [ ]:
for i in iterate:
  for j in range(1):
    df['population'] = list(new_pop_data_subset.loc[new_pop_data_subset['state+code'] == 'i', 'population'][j])

In [ ]:
new_pop_data_subset['state+code']=='Alabama+AL'[0]
new_pop_data_subset.loc[new_pop_data_subset['state+code'] == 'Alabama+AL', 'population'][0]

In [ ]:
new_pop_data_subset['state+code'] = new_pop_data_subset['state'] + "+" + new_pop_data_subset['code']
new_pop_data_subset

In [ ]:
pd.merge(new_pop_data_subset,df,on= 'state+code', how=)

In [ ]:
df.shape
# state_codes['state'].to_list()

In [ ]:
for i in range(3):
  for j in range(3):
    print (i,j)

In [ ]:
for i,j in itertools.product(state,range(5), range(1,13)):
  for j in range